.banner_img {
    height: 300px;
}

.banner_back_img {
    height: 500px;
    
}

.banner_car {
    top: 35%;
}

.banner_car_per_set {
    width: 500px;
    height: 250px;
}

.banner_car_tet{
    width: 500px;
    height:250px;
}

.banner_car_tet_item{
    display: block;
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    margin:0;
}

.banner_back {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    margin: 0px;
}

.img_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 0;
    height: 100vw;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.banner_car_per,
.banner_car_per_set {
    perspective: 2000px;
    cursor: grab;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1, 1);
    user-select: none;
    touch-action: none;
    transform-origin: 50% 50% 0px;
}

.banner_car_image{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-sizing: border-box;
    padding:0;
    border:none;
    margin:auto;
    display: block;
    width:0;
    cursor: grab;
    min-width: 100%;
    max-width: 100%;
    height:0;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .banner_img {
        height: 400px;
    }

    .banner_back_img {
        height: 550px;
    }

    .banner_car {
        top: 35%;
    }

    .banner_car_per_tem {
        width: 800px;
        height: 200px;
    }
    .banner_car_per_set{
        width:500px;
        height:300px;
    }
    .banner_car_tet{
        height: 300px;
    }
} 
@media (min-width: 1024px) {
    .banner_img {
        height: 500px;
    }

    .banner_back_img {
        height: 700px;
    }

    .banner_car {
        top: 35%;
    }
    .banner_car_per_set{
        width:700px;
        height:500px;
    }
    .banner_car_tet{
        height: 350px;
    }
}

@media (min-width: 1280px) {
    .banner_img {
        height: 600px;
    }

    .banner_back_img {
        height: 700px;
    }

    .banner_car {
        top: 40%;
    }
    .banner_car_per_set{
        width:100%;
        height:384px;
    }
}

@media (min-width: 1536px) {
    .banner_img {
        height: 700px;
    }

    .banner_back_img {
        height: 800px;
    }
}