.footer-css ul {
    list-style-type: none;
}

.footer-css li {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-css ul li a {
    color: black;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
    outline: none;
}

.footer-css ul li a:hover {
    color: rgba(221, 62, 110, 1);
}

.footer-css ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(221,62,110,1) 10%, rgba(248,174,86,1) 90%);
    top: 20px;
    left: 0;
    transition: 0.5s;
}
.footer-css ul li a:hover::after {
    width:100%;
}
.footer-css p{
    cursor: pointer;
    font-weight: 400;
    color: black;
    position: relative;
}

.footer-css .footer_lim p::after{
    position: absolute;
    content: "";
    bottom:2px;
    left:0;
    height:1px;
    width: 100%;
    background: transparent;
}

.footer-css .footer_lim p:hover::after{
    background: rgb(59, 59, 59);
}

.footer-css .footer_lim i{
    cursor: pointer;
    color: black;
}

@media (min-width: 500px) {
.footer-css .footer_lim{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
}

@media (min-width: 768px) {
    .footer-css    .footer_lim{
        justify-content:space-between;
        flex-direction: row;
    }
}
