@tailwind components;

@layer components{
    .button{
        @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg transform active:scale-90 active:bg-gray-100 transition transform duration-100 ease-out;
    }
}
.search_map{
    display: none;
    position: relative;
}
.search_icon_map{
    height: 670px;
}
@media (min-width: 1024px) {
    .search_map {
        display: inline-flex;
        min-width: 600px;
    }
}